apiVersion: v1
kind: Pod
metadata:
  name: privileged-test
  namespace: demo-app
spec:
  containers:
    - name: test
      image: nginx
      securityContext:
        privileged: true
      command: ["sleep", "3600"]
