name: platform-terraform

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::910321623036:role/github-actions-platform-infra
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: envs/dev/platform/terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: envs/dev/platform/terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: envs/dev/platform/terraform
        run: terraform plan

