apiVersion: v1
kind: Pod
metadata:
  name: no-resources
  namespace: demo-app
spec:
  securityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  containers:
    - name: test
      image: 910321623036.dkr.ecr.ap-south-1.amazonaws.com/someimage:1.0
      command: ["sh", "-c", "sleep 3600"]
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop: ["ALL"]
